@import 'nib'

@font-face
  font-family 'young-serif'
  src url('/fonts/ys.eot')
  src url('/fonts/ys.eot?#iefix') format('embedded-opentype'),
      url('/fonts/ys.woff') format('woff'),
      url('/fonts/ys.ttf') format('truetype'),
      url('/fonts/ys.svg#youngserifregular') format('svg')
  font-weight normal
  font-style normal


$sans     = 'Helvetica Neue', Helvetica, Arial, sans-serif
$serif    = Georgia, Times, 'Times New Roman', serif
$young    = 'young-serif', $serif
$gold     = #e3ba7a
$teal     = #35d2d8
$red      = #ff7171
$gray     = #ddd

::-moz-selection
  background #444
  color #fff
  text-shadow none


::selection
  background #444
  color #fff
  text-shadow none


html
  font-family $sans
  font-size 7px
  text-rendering optimizeLegibility
  font-smoothing antialiased

*
  margin 0
  padding 0
  box-sizing border-box

body
  margin 0
  background-color #222
  border 2.4rem solid $gold
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  padding 3rem
  font-family $young
  color $gray
  min-width 100rem
  min-height 100rem
  overflow hidden


#loading
  font-size 5rem
  position absolute
  left 50%
  top 50%
  transform translate3d(-50%, -50%, 0)


#logo
  color $gold
  text-transform uppercase
  border 4px solid $gold
  padding 2rem
  display inline-block
  font-family $young
  font-size 4rem
  line-height 1
  margin-bottom 2rem
  cursor pointer
  position absolute
  z-index 1
  transition color .2s ease-out, border-color .2s ease-out

  &:hover
    color #fff
    border-color #fff


#columns
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden


.column
  width 50%
  height 100%
  display inline-block
  float left
  padding 2rem 3rem
  padding-top 0
  margin-top 15rem
  position absolute

  span
    font-size 4.3rem
    line-height 1.8

    &.amount
      color $teal
      font-weight bold
      line-height 1


#column-left
  padding-left 3rem

#column-right
  padding-right 2rem
  right 0


input[type='text']
  border none
  background-color transparent
  border-bottom 3px dotted #ccc
  font-size 4.5rem
  font-family $young
  font-family
  text-align center
  outline none
  color $gold
  font-weight bold
  padding-right 0
  text-align center


.input-wrap
  white-space nowrap

  &::before
    content '$'
    font-size 2.4rem
    position relative
    top -2rem
    margin-right 0.8rem


.input-holder
  display inline-block
  position relative

  &:hover
    .range-slider
      display block

.range-slider
  display none
  position absolute
  padding-left 1.1rem
  width 100%
  margin-top -1rem

  input
    position absolute

  .preset-list
    top 0.4em


.preset-list
  display inline-block
  background-color rgba(255, 255, 255, .9)
  color #222
  list-style none
  font-size 2.2em
  font-weight bold
  font-family $sans
  position absolute
  z-index 1
  top 0.2em
  width 30rem
  box-shadow 4px 4px 0 0 $gold

  li
    font-weight bold
    cursor pointer
    padding 1rem 1rem

    &:hover
      background-color $teal
      color #fff


#person-header
  position relative


#current-person
  color $teal
  cursor pointer
  font-weight bold
  border-bottom 3px dotted #ccc
  line-height 1.7
  transition color .2s ease-out

  &:hover
    color #444

  &::after
    content '▼'
    color #ccc
    font-size 1.6rem
    position relative
    margin-left 0.5rem
    top -0.5rem


#person-list, #about-view
  position absolute
  right 0
  left 0
  bottom 0
  top 0
  overflow hidden
  background-color rgba(0, 0, 0, 0.9)
  opacity 0
  transition opacity .25s ease-out
  pointer-events none
  z-index 99

  &.active
    opacity 1
    pointer-events auto

  .x
    position absolute
    font-size 10rem
    font-style normal
    right .6rem
    top -4rem
    cursor pointer
    transition opacity .2s ease-out
    z-index 10
    color #fff

    &:hover
      opacity .5


#about-view
  font-size 4rem

  a
    color $gold
    text-decoration none

    &:hover
      color $teal

  .content
    padding 20%
    margin-top 50vh
    transform translateY(-50%)


#person-list
  list-style none
  padding 2rem 0

  ul
    position absolute
    overflow auto
    top 0
    bottom 0
    left 0
    right 1rem
    padding 1rem 3rem
    text-align center

  li
    cursor pointer
    text-align center
    display inline-block
    margin 2rem 2rem
    height 5rem
    vertical-align middle
    font-weight bold
    letter-spacing -0.5px
    color $gold

    &:nth-child(even)
      color $gray

    .portrait
      transition transform .2s ease-out
      transform scale(1)
      margin-right 1rem
      border none
      width  5.8rem
      height 5.8rem
      margin-top -1.7rem
      position relative
      top 1.2rem
      display inline-block


      div
        font-size 2.5rem
        font-style normal
        position relative
        top 50%
        transform translateY(-80%)
        color #222

    div
      text-align center
      font-size 4rem
      display inline-block
      transition color .2s ease-out

    &:hover
      color $teal




.portrait
  margin 0 auto
  cursor pointer
  width 8rem
  height 8rem
  background-color #ddd
  border-radius 50%
  color #444
  text-align center
  overflow hidden
  background-size cover

  div
    position relative
    top 50%
    transform translateY(-50%)
    font-size 3rem
    font-family $young
    letter-spacing -0.2rem
    font-style italic


#main-portrait
  position absolute
  right -1rem
  margin-right 2rem
  transform scale(0.8)
  transition transform .2s ease-out

  &:hover
    transform scale(1)

  .portrait
    width 15rem
    height 15rem
    border-width 1rem
    background-color #444
    color #eee

    div
      font-size 6rem
      font-style normal
      color #222

#comparative-header
  width calc(100% - 15rem)
  margin-bottom 2rem


.stats
  margin-top 1rem
  list-style none
  line-height 2

  span, em
    font-size 2.2rem

  em
    font-style normal
    display block
    line-height 1.1
    margin-top 1.4rem
    font-size 4.3rem
    color $gold


.menagerie-list
  color #444
  font-weight bold
  margin-top 2rem
  transition opacity 1s ease-out

  &.faded
    opacity 0

  span
    font-family $sans
    line-height 1.4
    user-select none
    font-size 3.2rem


.menagerie-price
  display none
  top 0
  left 0
  background-color #ccc
  color #222

.menagerie-item
  position relative
  cursor pointer

  &:hover
    .menagerie-name
      color #ccc

  &:active
    .menagerie-price
      display inline
      padding 0 1rem
      margin-left 1rem


footer
  position absolute
  bottom 0
  left 5rem
  right 5rem


#timeline
  position absolute
  right 8rem
  left 47rem
  top 3rem
  color #444
  z-index 1
  height 9.1rem

  &:hover
    color $gray !important

    .timeline-tick
      border-color $gray

#baseline
  border-top 1px solid #888
  position absolute
  left 0
  right 0
  bottom 0
  opacity .4


.timeline-point
  position absolute
  bottom -11px
  transition left .5s ease-out
  text-align center
  width 8rem
  transform translateX(-50%)

  div
    font-size 3rem

.timeline-label
  font-size 2.1rem !important
  position relative
  top -0.3rem
  line-height 2
  text-align center
  transition color .25s ease-out
  z-index 99

  .info-text
    display none
    background-color rgba(0,0,0,.9)
    line-height 1.4
    padding 1rem
    position absolute
    width 250%
    transform translateX(-30%)

  &:hover .info-text
    display block


.timeline-tick
  border-right 1px solid #444
  position absolute
  bottom 1.2rem
  opacity .4
  top 2.8rem
  left 50%
  transform translateX(-1px)
  transition border-color .25s ease-out


.timeline-dot
  position absolute
  bottom -0.3rem
  left 50%
  transform translateX(-50%)
  transition color .25s ease-out


#legend
  padding-bottom 3rem
  line-height 2
  font-size 1.8rem
  text-align right

  ul
    list-style none


.canvas
  position absolute
  top 0
  bottom 0
  width 50%
  z-index 2
  overflow hidden
  pointer-events none

#canvas-left
  left 0
  border-right 1px solid rgba(255, 255, 255, 0.2)

#canvas-right
  right 0


.info-link
  width 6.5rem
  height 6.5rem
  text-align center
  position fixed
  bottom 3rem
  left 3rem
  line-height 1.7
  background-color #fff
  border-radius 50%
  font-size 4rem
  color #111
  cursor pointer
  z-index 9999
  opacity .85
  transition opacity .2s ease-out

  &:hover
    opacity 1
